body {
  margin: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
  margin-right: auto;
  margin-left: auto;
  padding: 1.375rem 1.25rem;
  position: absolute;
  inset: 0;
  top: 0;
  background-color: hsla(217, 100%, 97%, 1);
  z-index: 100;
  transition: box-shadow 0.3s ease;

  &.shadow {
    box-shadow: 0 4px 6px -1px hsla(0, 0%, 0%, 0.05);
  }

  &.menu-open {
    min-height: 10rem;
    background-color: hsla(217, 100%, 97%, 1);
    box-shadow: 0 4px 6px -1px hsla(0, 0%, 0%, 0.05);

    & + .backdrop {
      display: block;
    }

    ul {
      display: inline-block;
      align-self: baseline;
      position: relative; // Ensures menu stays above backdrop
      z-index: 1;
    }

    ul:first-child {
      flex-direction: column;
      align-items: center;

      li:not(:first-child) {
        display: block;
        opacity: 0;
        transform: translateY(20px);
        animation: fadeInDown 0.3s ease forwards;
        padding-left: 0;
        padding-top: 0.5rem;
        font-size: 1.2rem;


        @for $i from 1 through 4 {
          &:nth-child(#{$i + 1}) {
            animation-delay: #{$i * 0.1}s;
          }
        }
      }

      li:first-child {
        margin-right: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0;
      }
    }
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;

    &:first-child {
      gap: 0.25rem;

      li:not(:first-child) {
        display: none;
      }

      li:first-child {
        margin-right: 2rem;
      }

      li:not(:first-child) {
        padding: 0.25rem 0.5rem;
        height: 1.25rem;
        font-family: "Inter Semi Bold", sans-serif;
        font-weight: 600;
        font-size: 0.9rem;

        a {
          outline: none;
          text-decoration: none;
          color: hsla(221, 39%, 11%, 1);
        }
      }
    }

    &:nth-child(2) {
      gap: 0.75rem;
      display: none;
    }
  }

  button {
    background-color: transparent;
    border: none;
    display: inline-block;
    height: unset;
    min-width: unset;
    cursor: pointer;
    align-self: flex-start;

    span {
      align-items: center;
      display: grid;

      span {
        width: 1.5rem;
        height: 0;
        border: 1px solid hsla(221, 39%, 11%, 1);
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;
        transition: transform 0.3s ease, opacity 0.3s ease;
      }

      &.active {
        span:nth-child(1) {
          transform: translateY(0.625rem) rotate(-45deg);
        }

        span:nth-child(2) {
          opacity: 0;
        }

        span:nth-child(3) {
          transform: translateY(-0.625rem) rotate(45deg);
        }
      }
    }
  }
}
.backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  z-index: 50;
}

.modal {
  display: none;
  width: 36.875rem;
  height: 30.8125rem;
  border-radius: 1.5rem;
  background-color: hsla(54, 100%, 50%, 1);
  padding: 2rem;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;

  .modal-header {
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
    height: 3rem;

    img {
      height: 3rem;
      width: 3rem;
    }

    h2 {
      font-family: "Inter", sans-serif;
      font-weight: 600;
      font-size: 1.5rem;
      color: hsla(0, 0%, 0%, 1);
      margin: 0;
      align-items: center;
      display: inline-flex;
    }
  }

  .modal-body {
    padding-top: 1.5rem;

    span {
      font-family: "Inter", sans-serif;
      font-weight: 600;
      font-size: 3rem;
      color: hsla(0, 0%, 0%, 1);

      .highlight {
        height: 2.25rem;
        width: 4rem;
        padding: 0.5rem 0.75rem;
        border: 2px solid black;
        border-radius: 6.25rem;
        text-align: center;
        color: hsla(54, 100%, 50%, 1);
        background-color: hsla(0, 0%, 0%, 1);
        font-family: "Inter", sans-serif;
        font-weight: 700;
        font-size: 2rem;
        align-items: center;
        display: inline-flex;
      }
    }
  }

  .modal-footer {
    margin-top: auto;

    a {
      display: block;

      button {
        background-color: hsla(230, 35%, 7%, 1);
        font-family: "Inter", sans-serif;
        font-weight: 600;
        font-size: 1.25rem;
        color: hsla(54, 100%, 50%, 1);
        border-radius: 0.5rem;
        width: 100%;
        height: 4.375rem;
        border: none;
        cursor: pointer;
        text-decoration: underline;

        img {
          margin-left: 0.635rem;
          vertical-align: middle;
        }
      }
    }
  }

}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 998;
}

.hero {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  margin: 7rem auto 4.5rem auto;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  align-items: center;

  .content {
    max-width: 43.5rem;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    text-align: center;

    .header {
      display: flex;
      gap: 1rem;
      flex-direction: column;

      h1 {
        margin: 0;
        font-family: "Inter Bold", sans-serif;
        font-weight: 700;
        font-size: 3.75rem;
        color: hsla(221, 39%, 11%, 1);
        letter-spacing: -0.025em;
      }

      h2 {
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 1.125rem;
        color: hsla(217, 19%, 27%, 1);
        margin: 0;
      }
    }

    .cta {
      display: flex;
      gap: 1rem;
      flex-direction: row;
      margin: auto;

      button:first-of-type {
        a {
          outline: none;
          text-decoration: none;
          color: hsla(0, 0%, 100%, 1);
        }
        background-color: hsla(262, 83%, 58%, 1);
        border-radius: 0.5rem;
        border: 0;
        padding: 1rem 1.5rem;
        font-family: "Inter Semi Bold", sans-serif;
        font-weight: 600;
        font-size: 1rem;
      }

      button:last-of-type {
        background-color: transparent;
        border: 0;
        padding: 1rem 1.5rem;
        font-family: "Inter Semi Bold", sans-serif;
        font-weight: 600;
        font-size: 1rem;
        vertical-align: middle;

        a {
          display: flex;
          gap: 0.5rem;
          align-items: center;
          outline: none;
          text-decoration: none;
          color: hsla(262, 83%, 58%, 1);

          img {
            height: 1.25rem;
            padding: 0.125rem;
          }
        }
      }
    }
  }

  .background {
    top: 0;
    left: 0;
    position: absolute;
    background-color: hsla(217, 100%, 97%, 1);
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: 0;

    .circle-blue {
      position: absolute;
      width: 100px;
      height: 100px;
      background: #2EC5CE;
      opacity: .6;
      filter: blur(100px);
      right: 30%;
      bottom: 4em;
    }

    .circle-violet {
      position: absolute;
      width: 320px;
      height: 320px;
      background-color: hsla(262, 83%, 58%, 1);
      filter: blur(100px);
      opacity: .3;
      border-radius: 100%;
      top: 150px;
      right: 0;
      margin-top: 75px;
      display: none;
    }

    .line {
      position: absolute;
      height: 4em;
    }

    .top-left {
      background-color: hsla(184, 74%, 69%, 1);;
      width: 33%;
      bottom: 0;
    }

    .bottom-left {
      background-color: hsla(251, 91%, 95%, 1);
      width: 20%;
      bottom: -4em;
    }

    .top-right {
      background-color: hsla(251, 91%, 95%, 1);
      width: 25%;
      right: 32px;
      bottom: 4em;
    }

    .middle-right {
      background-color: hsla(252, 95%, 85%, 1);
      width: 40%;
      right: 0;
      bottom: 0;
    }

    .bottom-right {
      position: absolute;
      background-color: hsla(184, 74%, 69%, 1);
      width: 12%;
      bottom: -4em;
      right: 0;
    }
  }

  .mockup {

    padding-right: 5.25rem;
    padding-left: 5.25rem;

    img {
      height: 40rem;
      filter: drop-shadow(10px 15px 30px rgba(41, 41, 42, .5));
    }
  }
}

.testimonials {

  background-color: hsla(0, 0%, 95%, 1);
  display: flex;
  justify-content: center;
  padding-top: 3.3125rem;
  padding-bottom: 3.3125rem;

  .testimonial-content {
    display: flex;
    flex-direction: column;
    padding-right: 1rem;
    padding-left: 1rem;
    width: 100%;
    align-items: center;

    h1 {
      font-family: "Inter", sans-serif;
      font-weight: 700;
      font-size: 2.5rem;
      color: hsla(221, 39%, 11%, 1);
      letter-spacing: -0.025em;
      text-align: center;
      height: 4.5rem;
      align-items: center;
      justify-content: center;
      display: flex;
      margin-top: 0;
      margin-bottom: 2.8125rem;
    }

    .spinner {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 3rem;
      height: 3rem;
      border: 0.3rem solid hsla(0, 0%, 85%, 1);
      border-top: 0.3rem solid hsla(221, 39%, 11%, 1);
      border-radius: 50%;
      animation: spin 1s linear infinite;
    }

    .testimonial-cards {
      display: flex;
      flex-direction: column;
      justify-content: space-between;


      .testimonial-card:nth-child(1) {
        animation-delay: 0s;
      }

      .testimonial-card:nth-child(2) {
        animation-delay: 0.5s;
      }

      .testimonial-card:nth-child(3) {
        animation-delay: 1s;
      }

      .testimonial-card {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;

        opacity: 0;
        animation: fadeInUp 0.75s ease-out forwards;

        .testimonial {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          padding: 2.5rem 2rem;
          background-color: hsla(0, 0%, 100%, 1);
          border-radius: 0.623rem;
          position: relative;
          max-width: 20rem;
          box-shadow: 0 4px 8px hsla(221, 39%, 11%, 0.06);

          &::after {
            top: 91%;
            left: 47%;
            z-index: 2;
            content: "";
            height: 1.75rem;
            width: 1.5rem;
            position: absolute;
            transform: rotate(45deg);
            margin: auto 0;
            clip-path: polygon(
              100% 2%,
              2% 100%,
              100% 100%
            );
            border-radius: 0 0 3px 0;
            background: hsla(0, 0%, 100%, 1);
          }

          h2 {
            margin: 0;
            font-family: "Inter Bold", sans-serif;
            font-weight: 700;
            font-size: 1.5rem;
            text-align: center;
          }

          span {
            color: hsla(221, 39%, 11%, 1);
            font-family: "Inter", sans-serif;
            font-weight: 400;
            font-size: 0.875rem;
            text-align: center;
          }

          .rating {
            text-align: center;
          }
        }

        .client {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 0.5rem;

          img {
            width: 3.5rem;
            height: 3.5rem;
            border-radius: 50%;
          }

          .client-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            span {
              &:first-of-type {
                height: 1.75rem;
                font-family: "Inter Bold", sans-serif;
                font-weight: 700;
                font-size: 1.125rem;
                color: hsla(221, 39%, 11%, 1);
              }

              &:last-of-type {
                height: 1.25rem;
                font-family: "Inter", sans-serif;
                font-weight: 400;
                font-size: 0.875rem;
                color: hsla(217, 19%, 27%, 1);
              }
            }
          }
        }
      }
    }

    .testimonial-cards > * {
      margin-bottom: 1rem
    }

    .testimonial-cards > *:last-child {
      margin-bottom: 0;
    }
  }
}

.companies {
  min-height: 22rem;
  background-color: hsla(0, 0%, 100%, 1);
  margin: 3rem auto ;
  max-width: 63rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;

  img {
    height: 6rem;
    width: 11rem;
    object-fit: none;
    box-sizing: border-box;
    place-self: center;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: hsla(0, 0%, 0%, 1);
  margin-right: auto;
  margin-left: auto;
  padding: 2rem 1.25rem;

  span {
    color: hsla(216, 12%, 84%, 1);
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    color: hsla(0, 0%, 100%, 1);
    gap: 1rem;

    li {
      height: 1.5rem;
      width: 1.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

@media (min-width: 640px) {
  nav {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .hero {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .footer {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (min-width: 768px) {

}

@media (min-width: 1024px) {
  nav {
    position: fixed;
    ul {
      &:first-child {
        li:not(:first-child) {
          display: block;
        }
      }

      &:nth-child(2) {
        display: flex;
      }
    }
    button {
      display: none;
    }
  }
  .hero {
    flex-direction: row;
    align-items: normal;
    margin: 9.5rem auto 4.5rem auto;

    .background {

      .circle-violet {
        display: block;
      }
    }

    .content {
      padding-top: 6rem;
      text-align: left;

      .cta {
        margin: 0;
      }
    }
  }

  .testimonials {
    .testimonial-content {
      .testimonial-cards {
        flex-direction: row;
      }

      .testimonial-cards > * {
        margin-bottom: 0;
        margin-left: min(0.5rem, var(--available-space, 0.5rem));
        margin-right: min(0.5rem, var(--available-space, 0.5rem));
      }

      .testimonial-cards > *:first-child {
        margin-left: 0;
      }

      .testimonial-cards > *:last-child {
        margin-right: 0;
      }
    }
  }

  .companies {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }

}

@media (min-width: 1280px) {
  nav {
    max-width: 1280px;
  }

  .hero {
    max-width: 1280px;

    .content {
      padding-right: 3rem;
    }
  }

  .testimonials {

    .testimonial-content {
      max-width: 1280px;
    }
  }

  .footer {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  nav {
    max-width: 1536px;
    padding-left: 7rem;
    padding-right: 7rem;
  }

  .hero {
    max-width: 1536px;
    padding-left: 7rem;
    padding-right: 7rem;
  }

  .footer {
    max-width: 1536px;
    padding-left: 7rem;
    padding-right: 7rem;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}