<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bienvenue</title>
</head>
<body>
  <nav>
    <ul>
      <li><img src="public/logo.svg" alt="Landify's logo"></li>
      <li>Features</li>
      <li>Pricing</li>
      <li>Careers</li>
      <li>Help</li>
    </ul>
    <ul>
      <li><img src="public/play-store.svg" alt="Play Store's logo"></li>
      <li><img src="public/app-store.svg" alt="App Store's logo"></li>
    </ul>
  </nav>

  <div class="hero">
    <h1>The easiest way to manage projects</h1>
    <h2>From the small stuff to the big picture, organizes the work so teams know what to do, why it matters, and how to get it done.</h2>
    <button>Get Started</button>
    <button><img src="public/watch.svg" alt="Watch video icon"/>Watch Video</button>
    <img src="public/mockup.png" alt="App's mockup">
  </div>

  <div class="testimonials">
    <h1>Our clients speak</h1>
    <div class="testimonial-card">
      <div class="testimonial">
        <h2>Efficient collaborating</h2>
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Auctor neque sed imperdiet nibh lectus feugiat nunc sem.</span>
      </div>
      <div class="client">
        <img src="public/profile.png" alt="Client 1">
        <span>Wade Wilson</span>
        <span>CEO at ABC Corporation</span>
      </div>
    </div>
    <div class="testimonial-card">
      <div class="testimonial">
        <h2>Efficient collaborating</h2>
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Auctor neque sed imperdiet nibh lectus feugiat nunc sem.</span>
      </div>
      <div class="client">
        <img src="public/profile.png" alt="Client 1">
        <span>Wade Wilson</span>
        <span>CEO at ABC Corporation</span>
      </div>
    </div>
    <div class="testimonial-card">
      <div class="testimonial">
        <h2>Efficient collaborating</h2>
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Auctor neque sed imperdiet nibh lectus feugiat nunc sem.</span>
      </div>
      <div class="client">
        <img src="public/profile.png" alt="Client 1">
        <span>Wade Wilson</span>
        <span>CEO at ABC Corporation</span>
      </div>
    </div>
  </div>

  <div class="clients">
    <img src="public/client.png" alt="Client 1">
    <img src="public/client.png" alt="Client 1">
    <img src="public/client.png" alt="Client 1">
    <img src="public/client.png" alt="Client 1">
    <img src="public/client.png" alt="Client 1">
    <img src="public/client.png" alt="Client 1">
    <img src="public/client.png" alt="Client 1">
    <img src="public/client.png" alt="Client 1">
    <img src="public/client.png" alt="Client 1">
    <img src="public/client.png" alt="Client 1">
    <img src="public/client.png" alt="Client 1">
    <img src="public/client.png" alt="Client 1">
    <img src="public/client.png" alt="Client 1">
    <img src="public/client.png" alt="Client 1">
    <img src="public/client.png" alt="Client 1">
  </div>

  <div class="footer">
    <span>© 2021 Landify UI Kit. All rights reserved</span>
    <ul>
      <li><img src="public/instagram.svg" alt="Instagram's logo"></li>
      <li><img src="public/dribbble.svg" alt="Dribbble's logo"></li>
      <li><img src="public/twitter.svg" alt="Twitter's logo"></li>
      <li><img src="public/youtube.svg" alt="Youtube's logo"></li>
    </ul>
  </div>
  <div id="app"></div>
  <script type="module" src="src/main.ts"></script>
</body>
</html>
